[tool.poetry]
name = "pipeline-ai"
version = "0.0.23-beta.5"
description = "Yay ml pipelines"
authors = ["Paul Hetherington <paul@getneuro.ai>"]
packages = [
    {include="pipeline"}
]
readme = "README.md"
license = "Apache-2.0"
classifiers = [
    'License :: OSI Approved :: Apache Software License',
    'Programming Language :: Python :: 3',
]


[tool.poetry.dependencies]
python = ">=3.8,<4.0"
dill = "^0.3.4"
pydantic = "^1.8.2"
requests = "^2.26.0"
setuptools = "^59.2.0"
humps = "^0.2.2"
pyhumps = "^3.0.2"
requests-toolbelt = "^0.9.1"
tqdm = "^4.62.3"
PyYAML = {version = "^6.0", optional = true}

[tool.poetry.dev-dependencies]
setuptools = "^59.2.0"
dill = "^0.3.4"
pydantic = "^1.8.2"
requests = "^2.26.0"
pyhumps = "^3.0.2"
pytest = "^6.2.5"
black = "^21.12b0"
pre-commit = "^2.16.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
numpy = "^1.22.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py37', 'py38', 'py39']
exclude = '''
(
  /(
    \.mypy_cache
  )/
)
'''

[tool.isort]
profile = "black"

[tool.poetry.extras]
docker = ["PyYAML"]
