black==21.9b0
bleach==4.1.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.3
colorama==0.4.4
cPython==0.0.6
dill==0.3.4
docutils==0.17.1
idna==3.2
importlib-metadata==4.7.1
keyring==23.1.0
mypy-extensions==0.4.3
npu2==0.0.1
numpy==1.21.2
packaging==21.0
pathspec==0.9.0
pkginfo==1.7.1
platformdirs==2.4.0
pydantic==1.8.2
Pygments==2.10.0
pymongo==3.12.1
pyparsing==2.4.7
readme-renderer==29.0
regex==2021.10.23
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
tomli==1.2.2
tqdm==4.62.2
twine==3.4.2
typing-extensions==3.10.0.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
