name: Production workflow
on: [push]
jobs:
  test:
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: [3.7, 3.8]
        
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          token: ${{ secrets.ACK }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: snok/install-poetry@v1
        with:
          version: 1.1.11
      - name: Install dependencies
        run: |
          poetry install --no-interaction
      - name: test
        run: |
          poetry run pytest
