name: Lint and test
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          version: 22.3.0

  flake8-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - uses: py-actions/flake8@v2
        with:
          ignore: "E203,W503"
          max-line-length: "88"
          path: "./pipeline"

  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.1.11
      - name: Install dependencies
        run: |
          poetry install --no-interaction
      - uses: isort/isort-action@master
        with:
          isortVersion: 5.10.1

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, "3.10", 3.11]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.1.11
      - name: Install dependencies
        run: |
          poetry install --no-interaction
      - name: test
        run: |
          poetry run pytest
